
.mobileNav{
    font-size: 14px;
}

.mobileNav:hover , .cursor:hover{
    cursor: pointer;
}

.main-title {
    font-size: 16px;
    color: #646464;
}


.messagesContainer{
    background: #fff !important;
    padding-bottom: 2rem !important;
    border-radius: 13px !important;
}

.sub-title {
    font-size: 14px;
    color: #959595;
}

.customerListItem{
    background: #fff !important;
    border-radius: 10px !important;
}
